<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{fragments/layout}">
<head>
<meta charset="ISO-8859-1">
<title>User Modification</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 class="title is-4 has-text-centered">Edit user</h1>
		<div class="box">
			<div class="columns is-centered">
				<div class="column is-8 is-centered">
					<form name="login"
						th:action="@{edit?id=__${userForm.apiUser.id}__}" method="post"
						th:object="${userForm}">
						<div class="columns is-centered">
							<div class="column is-4">
								<div class="field ">
									<label class="label">Username</label>
									<div class="control">
										<input type="text" name="username" id="username"
											class="input is-info" th:value=${userForm.apiUser.username}
											th:field="*{apiUser.username}" /> <span
											th:if="${#fields.hasErrors('apiUser.username')}"
											th:errors="*{apiUser.username}" class="help-block"></span>
									</div>
								</div>
								<div class="field">
									<label class="label">Email</label>
									<div class="control">
										<input type="email" name="mail" id="mail"
											class="input is-info" th:value=${userForm.apiUser.mail}
											th:field="*{apiUser.mail}" /> <span
											th:if="${#fields.hasErrors('apiUser.mail')}"
											class="help-block" th:errors="*{apiUser.mail}"></span>
									</div>
								</div>
								<div class="field">
									<label class="label">Token</label>
									<div class="columns">
										<div class="column is-two-thirds is-centered">
											<div class="control">
												<label id="userForm.apiUser.token" class="input is-info"
													th:text="*{apiUser.token}"></label>
											</div>
										</div>
										<div class="column is-third ">
											<p class="control level-right">
												<a class="button is-danger is-outlined"
													th:href="@{/admin/user/token?id=__${userForm.apiUser.id}__}">
													<span>Reset</span>
												</a>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="column is-4">
								<div class="field is-third">
									<label class="label">Max Quota</label>
									<div class="control">
										<input type="text" name="maxquota" id="maxquota"
											class="input is-info" th:value=${userForm.apiUser.maxquota}
											th:field="*{apiUser.maxquota}" /> <span
											th:if="${#fields.hasErrors('apiUser.maxquota')}"
											th:errors="*{apiUser.maxquota}" class="help-block"></span>
									</div>
								</div>
								<div class="field ">
									<label class="label">Actual Quota</label>
									<div class="columns">
										<div class="column is-two-thirds is-centered">
											<div class="control">
												<label id="userForm.apiUser.actualquota" class="input is-info"
													th:text="*{apiUser.actualquota}"></label>
											</div>
										</div>
										<div class="column is-third ">
											<p class="control level-right">
												<a class="button is-danger is-outlined"
													th:href="@{/admin/user/quota?id=__${userForm.apiUser.id}__}">
													<span>Reset</span>
												</a>
											</p>
										</div>
									</div>
								</div>
								<div class="field ">
									<label class="label">Group</label>
									<div class="control">
										<div class="select is-fullwidth is-info">
											<select class="groupSelect" th:classappend="*{apiUser.group} != null ? group_+*{apiUser.group.id} : nogroup" th:field="*{apiUser.group}">
												<option class="nogroup" th:value="null">No group</option>
												<option th:classappend="group_+${grp.id}" th:each="grp : ${groups}" th:text="${grp.name}"
													th:value="${{grp}}"
													></option>
											</select> 
											<span
											th:if="${#fields.hasErrors('apiUser.group')}"
											th:errors="*{apiUser.group}" class="help-block"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="columns">
							<div class="column is-centered">
								<h1 class="title is-4 has-text-centered">Edit permissions</h1>
								<table class="table is-fullwidth dataTable">
									<thead>
										<tr>
											<th>Entity</th>
											<th><input type="checkbox" class="chkbx_main_selection" /> Selection</th>
											<th><input type="checkbox" class="chkbx_main_creation" /> Creation</th>
											<th><input type="checkbox" class="chkbx_main_updating" /> Updating</th>
											<th><input type="checkbox" class="chkbx_main_deletion" /> Deletion</th>
										</tr>
									</thead>
									<tbody>
										<tr
											th:each="userperm,rowStat : ${userForm.apiUserPermWrapper.userPermList}">
											<td th:text="${userperm.apiBean.name}"></td>
											<td><input th:disabled="!${userperm.apiBean.managed}"
												type="checkbox" class="chkbx_selection"
												th:checked="${userperm.selection}"
												th:field=*{apiUserPermWrapper.userPermList[__${rowStat.index}__].selection} /></td>
											<td><input th:disabled="!${userperm.apiBean.managed}"
												type="checkbox" class="chkbx_creation"
												th:checked="${userperm.creation}"
												th:field=*{apiUserPermWrapper.userPermList[__${rowStat.index}__].creation} /></td>
											<td><input th:disabled="!${userperm.apiBean.managed}"
												type="checkbox" class="chkbx_updating"
												th:checked="${userperm.updating}"
												th:field=*{apiUserPermWrapper.userPermList[__${rowStat.index}__].updating} /></td>
											<td><input th:disabled="!${userperm.apiBean.managed}"
												type="checkbox" class="chkbx_deletion"
												th:checked="${userperm.deletion}"
												th:field=*{apiUserPermWrapper.userPermList[__${rowStat.index}__].deletion} /></td>

										</tr>
									</tbody>
								</table>
								<div class="field is-grouped">
									<div class="control">
										<input class="button is-link" type="submit" value="Submit" />
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>