<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{fragments/layout}">
<head>
<meta charset="ISO-8859-1">
<title>Entities Configuration</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 class="title is-4 has-text-centered">Entities management</h1>
		<div class="box">
			<div class="columns is-centered">
				<div class="column is-4 is-centered">
					<form name="login" th:action="@{/admin/entities/edit}" method="post"
						th:object="${beanWrapper}">
						<div class="columns">
							<div class="column is-centered">
								<div class="field ">
									<h1 class="title is-4 has-text-centered">Edit entities</h1>
									<table class="table is-fullwidth dataTable">
										<thead>
											<tr>
												<th>Id</th>
												<th>Name</th>
												<th>Managed</th>
											</tr>
										</thead>
										<tbody>
											<tr
												th:each="bean,rowStat : *{beanList}">
												<td>
												<input th:text="${bean.id}" type="hidden" th:field="*{beanList[__${rowStat.index}__].id}" th:value="${bean.id}" />
												</td>
												<td >
												<input th:text="${bean.name}" type="hidden" th:field="*{beanList[__${rowStat.index}__].name}" th:value="${bean.name}" />
												</td>
												<td>
												<input type="checkbox" th:checked="${bean.managed}" th:field=*{beanList[__${rowStat.index}__].managed} />
												</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th>Id</th>
												<th>Name</th>
												<th>Managed</th>
											</tr>
										</tfoot>
									</table>
									<div class="field is-grouped">
										<div class="control">
											<input class="button is-link" type="submit" value="Submit" />
										</div>
									</div>
								</div>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>