<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{fragments/layout}">
<head>
<meta charset="ISO-8859-1">
<title>User Configuration</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 class="title is-4 has-text-centered">Group management</h1>
		<div class="box">
			<div class="columns is-centered">
				<div class="column is-3 is-centered">
					<h1 class="title is-5 has-text-centered">Adding Group</h1>
					<form name="groupadd" th:action="@{groups}" method="post"
						th:object="${group}">
						<div class="columns">
							<div class="column">
								<div class="field ">
									<label class="label">Name</label>
									<div class="control">
										<input type="text" name="name" id="name" class="input is-info"
											th:field="*{name}" /> <span
											th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
											style="color: red;"></span>
									</div>
								</div>
								<div class="field is-grouped">
									<div class="control">
										<input class="button is-link" type="submit" value="Submit" />
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column is-5 is-centered ">
					<h1 class="title is-5 has-text-centered">Existing Groups</h1>
					<table class="table is-fullwidth dataTable">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="group : ${groups}">
								<td th:text="${group.id}"></td>
								<td th:text="${group.name}"></td>
								<td>
									<p class="control has-text-centered">
										<a class="bd-tw-button is-small button is-link"
											th:href="@{/admin/group/edit?id=__${group.id}__}"> <span>Edit</span>
										</a>
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</body>
</html>