<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{fragments/layout}">
<head>
<meta charset="ISO-8859-1">
<title>Entities Configuration</title>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
	<div layout:fragment="content">
		<h1 class="title is-4 has-text-centered">Api options</h1>
		<div class="box">
			<div class="columns is-centered">
				<div class="column is-10 is-centered">
					<span style="display: none;" th:text="${serverPort}"
						id="serverPort"></span> <span style="display: none;"
						th:text="${httpsEnabled}" id="httpsEnabled"></span>
					<form name="login" th:action="@{/admin/settings}" method="post"
						th:object="${apiConfWrapper}">
						<div class="columns">
							<div class="column is-centered">
								<h1 class="title is-5 has-text-centered">General</h1>
								<div class="field ">
									<table class="table is-fullwidth">
										<thead>
											<tr>
												<th>Name</th>
												<th>Value</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="apiConf,rowStat : *{apiConfList}"
												th:if="${apiConf.paramCategory} == 'general'">
												<td>
													<div class="level">
														<div class="level-left">
															<span th:text="${apiConf.paramName}"></span>
														</div>
														<div class="level-left">
															<figure class="image is-24x24 tooltip"
																th:attr="data-tooltip=${apiConf.description}">
																<img src="/images/help_icon.png">
															</figure>
														</div>

													</div>
												</td>
												<td th:if="${apiConf.paramType == 'text'}"><input
													type="text" class="input is-info"
													th:field="*{apiConfList[__${rowStat.index}__].paramValue}"
													th:value="${apiConf.paramValue}" /></td>
												<td th:if="${apiConf.paramType == 'number'}"><input
													type="number" class="input is-info"
													th:field="*{apiConfList[__${rowStat.index}__].paramValue}"
													th:value="${apiConf.paramValue}" /></td>
												<td th:if="${apiConf.paramType == 'boolean'}">
													<div class="select is-info">
														<select
															th:field="*{apiConfList[__${rowStat.index}__].paramValue}">
															<option th:text="yes" th:value="true"></option>
															<option th:text="no" th:value="false"></option>
														</select>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="column is-centered">
								<h1 class="title is-5 has-text-centered">Security</h1>
								<div class="field ">
									<table class="table is-fullwidth">
										<thead>
											<tr>
												<th>Name</th>
												<th>Value</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="apiConf,rowStat : *{apiConfList}"
												th:if="${apiConf.paramCategory} == 'security'">
												<td>
													<div class="level">
														<div class="level-left">
															<span th:text="${apiConf.paramName}"></span>
														</div>
														<div class="level-left">
															<figure class="image is-24x24 tooltip"
																th:attr="data-tooltip=${apiConf.description}">
																<img src="/images/help_icon.png">
															</figure>
														</div>

													</div>
												</td>
												<td th:if="${apiConf.paramType == 'text'}"><input
													type="text" class="input is-info"
													th:field="*{apiConfList[__${rowStat.index}__].paramValue}"
													th:value="${apiConf.paramValue}" /></td>
												<td th:if="${apiConf.paramType == 'number'}"><input
													type="number" class="input is-info"
													th:field="*{apiConfList[__${rowStat.index}__].paramValue}"
													th:value="${apiConf.paramValue}" /></td>
												<td th:if="${apiConf.paramType == 'boolean'}">
													<div class="select is-info">
														<select
															th:field="*{apiConfList[__${rowStat.index}__].paramValue}">
															<option th:text="yes" th:value="true"></option>
															<option th:text="no" th:value="false"></option>
														</select>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="columns">

							<div class="column is-centered">
								<h1 class="title is-5 has-text-centered">Web Server</h1>
								<div class="field ">
									<table class="table is-fullwidth">
										<thead>
											<tr>
												<th>Name</th>
												<th>Value</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="apiConf,rowStat : *{apiConfList}"
												th:if="${apiConf.paramCategory} == 'web_server'">
												<td>
													<div class="level">
														<div class="level-left">
															<span th:text="${apiConf.paramName}"></span>
														</div>
														<div class="level-left">
															<figure class="image is-24x24 tooltip"
																th:attr="data-tooltip=${apiConf.description}">
																<img src="/images/help_icon.png">
															</figure>
														</div>

													</div>
												</td>
												<td th:if="${apiConf.paramType == 'text'}"><input
													type="text" class="input is-info"
													th:field="*{apiConfList[__${rowStat.index}__].paramValue}"
													th:value="${apiConf.paramValue}" /></td>
												<td th:if="${apiConf.paramType == 'number'}"><input
													type="number" class="input is-info"
													th:field="*{apiConfList[__${rowStat.index}__].paramValue}"
													th:value="${apiConf.paramValue}" /></td>
												<td th:if="${apiConf.paramType == 'boolean'}">
													<div class="select is-info">
														<select
															th:field="*{apiConfList[__${rowStat.index}__].paramValue}">
															<option th:text="yes" th:value="true"></option>
															<option th:text="no" th:value="false"></option>
														</select>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="column is-centered">
								<h1 class="title is-5 has-text-centered">Datasource</h1>
								<div class="field ">
									<table class="table is-fullwidth">
										<thead>
											<tr>
												<th>Name</th>
												<th>Value</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="apiConf,rowStat : *{apiConfList}"
												th:if="${apiConf.paramCategory} == 'datasource'">
												<td>
													<div class="level">
														<div class="level-left">
															<span th:text="${apiConf.paramName}"></span>
														</div>
														<div class="level-left">
															<figure class="image is-24x24 tooltip"
																th:attr="data-tooltip=${apiConf.description}">
																<img src="/images/help_icon.png">
															</figure>
														</div>

													</div>
												</td>
												<td th:if="${apiConf.paramType == 'text'}"><input
													type="text" class="input is-info"
													th:field="*{apiConfList[__${rowStat.index}__].paramValue}"
													th:value="${apiConf.paramValue}" /></td>
												<td th:if="${apiConf.paramType == 'number'}"><input
													type="number" class="input is-info"
													th:field="*{apiConfList[__${rowStat.index}__].paramValue}"
													th:value="${apiConf.paramValue}" /></td>
												<td th:if="${apiConf.paramType == 'boolean'}">
													<div class="select is-info">
														<select
															th:field="*{apiConfList[__${rowStat.index}__].paramValue}">
															<option th:text="yes" th:value="true"></option>
															<option th:text="no" th:value="false"></option>
														</select>
													</div>
												</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
						</div>
						<div class="columns">
							<div class="column is-centered">
								<div class="field ">
									<div class="control">
										<input class="button is-link" type="submit" value="Submit" />
									</div>
								</div>
								<div class="field">
									<div class="control">
										<input class="button is-link" value="Restart"
											id="restart_button" />
									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="modal">
						<div class="modal-background"></div>
						<div class="modal-content" style="width: 350px;">
							<div class="box box-background-color-white has-text-centered">
								<h1 class="title is-5 has-text-centered">Server is
									restarting ...</h1>

								<p id="restart_redirect_modal"></p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>