<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{fragments/layout}">
<head>
<meta charset="ISO-8859-1">
<title>User Configuration</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 class="title is-4 has-text-centered">User management</h1>
		<div class="box">
			<div class="columns is-centered">
				<div class="column is-5 is-centered">
					<h1 class="title is-5 has-text-centered">Adding User</h1>
					<form name="login" th:action="@{users}" method="post"
						th:object="${user}">
						<div class="columns">
							<div class="column is-half">
								<div class="field ">
									<label class="label">Username</label>
									<div class="control">
										<input type="text" name="username" id="username"
											class="input is-info" th:field="*{username}" /> <span
											th:if="${#fields.hasErrors('username')}"
											th:errors="*{username}" style="color: red;"></span>
									</div>
								</div>
								<div class="field ">
									<label class="label">Email</label>
									<div class="control">
										<input type="email" name="mail" id="mail"
											class="input is-info" th:field="*{mail}" /> <span
											th:if="${#fields.hasErrors('mail')}" class="help-block"
											th:errors="*{mail}"></span>
									</div>
								</div>
								<div class="field is-grouped">
									<div class="control">
										<input class="button is-link" type="submit" value="Submit" />
									</div>
								</div>
							</div>
							<div class="column is-half">
								<div class="field ">
									<label class="label">Quota Maximum</label>
									<div class="control">
										<input type="text" name="maxquota" id="maxquota"
											class="input is-info" th:field="*{maxquota}" /> <span
											th:if="${#fields.hasErrors('maxquota')}"
											th:errors="*{maxquota}" class="help-block"></span>
									</div>
								</div>
								<div class="field ">
									<label class="label">Group</label>
									<div class="control">
										<div class="select is-fullwidth is-info">
											<select th:field="*{group}">
												<option th:value="null">No group</option>
												<option th:each="group : ${groups}" th:text="${group.name}"
													th:value="${{group}}"></option>
											</select>
										</div>
									</div>
								</div>
							</div>

						</div>
					</form>
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column is-8 is-centered">
					<h1 class="title is-5 has-text-centered">Existing Users</h1>
					<table class="table is-fullwidth dataTable">
						<thead>
							<tr>
								<th>ID</th>
								<th>Username</th>
								<th>Email</th>
								<th>Token</th>
								<th>Group</th>
								<th>Max Quota</th>
								<th>Actual Quota</th>
								<th></th>
							</tr>
						</thead>
						<tbody class="yolo">
							<tr th:each="user : ${users}">
								<td th:text="${user.id}"></td>
								<td th:text="${user.username}"></td>
								<td th:text="${user.mail}"></td>
								<td th:text="${user.token}"></td>
								<td th:text="${user.group!=null}?${user.group.name}:''"></td>
								<td th:text="${user.maxquota}"></td>
								<td th:text="${user.actualquota}"></td>
								<td>
									<p class="control has-text-centered">
										<a class="bd-tw-button is-small button is-link"
											th:href="@{/admin/user/edit?id=__${user.id}__}"> <span>Edit</span>
										</a>
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</body>
</html>