<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<th:block th:fragment="header">
		<nav class="navbar is-transparent">
			<div class="navbar-brand">
				<a class="navbar-item" href="https://github.com/RemiPlantade/api_builder"> <img
					th:src="@{/images/logo.png}" alt="ApiBuilder logo" />
				</a>
			</div>
			<div id="navbarExampleTransparentExample" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" th:href="@{/}"> Home </a>
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link" href="/documentation/overview/start/">
							Documentation</a>
						<div class="navbar-dropdown is-boxed">
							<a class="navbar-item is-active"
								href="https://bulma.io/documentation/elements/box/"> General
							</a>
							<hr class="navbar-divider">
							<a class="navbar-item" href="/documentation/overview/start/">Voiture
							</a> <a class="navbar-item"
								href="https://bulma.io/documentation/modifiers/syntax/">
								Conducteur </a> <a class="navbar-item"
								href="https://bulma.io/documentation/columns/basics/"> Roue
							</a> <a class="navbar-item"
								href="https://bulma.io/documentation/layout/container/">
								VoitureRoue </a> <a class="navbar-item"
								href="https://bulma.io/documentation/form/general/"> Form </a> <a
								class="navbar-item"
								href="https://bulma.io/documentation/components/breadcrumb/">
								Components </a>
						</div>
					</div>
					<div class="navbar-item has-dropdown is-hoverable" sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="navbar-link" href="/documentation/overview/start/">
							Settings </a>
						<div class="navbar-dropdown is-boxed">
							<a class="navbar-item is-active" th:href="@{/admin/settings}">
								General </a>
							<hr class="navbar-divider">
							<a class="navbar-item"
								th:href="@{/admin/users}">
								Users </a> <a class="navbar-item"
								th:href="@{/admin/groups}">
								Groups </a><a class="navbar-item"
								th:href="@{/admin/entities}">
								Entities </a>
						</div>
					</div>
				</div>
				<div class="navbar-item">
					<div class="field is-grouped">
						<p class="control" sec:authorize="isAnonymous()">
							<a class="bd-tw-button button" th:href="@{/login}"> 
							<span> Sign in </span>
							</a>
						</p>
						<p class="control" sec:authorize="isAuthenticated()">
							<a class="button is-link" th:href="@{/logout}"> 
							<span class="has-text-centered"> Sign out</span>
							</a>
						</p>
					</div>
				</div>
			</div>
		</nav>

	</th:block>
</body>
</html>