<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet" th:href="@{/css/bulma.css}"
	href="/css/bulma.css" />
<link type="text/css" rel="stylesheet"
	th:href="@{/css/dataTables.bulma.min.css}" href="/css/bulma.css" />
<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"
	href="/css/style.css" />
<link type="text/css" rel="stylesheet" th:href="@{/css/bulma-tooltip.min.css}"
	href="/css/bulma-tooltip.min.css" />
<title>Spring Security Thymeleaf</title>
</head>
<body>
	<th:block th:replace="fragments/header :: header" />
	<section class="section" layout:fragment="content">
		<div class="container">
			<div id="content">
				<div class="columns is-centered">
					<th:block layout:fragment="content" />
				</div>
			</div>
		</div>
	</section>
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/custom_script.js}"></script>
	<script th:src="@{/js/datatables.min.js}"></script>
	<script th:src="@{/js/dataTables.bulma.min.js}"></script>
	<script>
	$(document).ready(function(){
	    $('table.dataTable').DataTable();
	});
	</script>
	<th:block th:replace="fragments/footer :: footer" />
</body>
</html>