<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="~{fragments/layout}">
<head>
<title>Error page</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="columns is-centered">
			<div class="column is-4">
				<div class="box">
					<h1 class="title is-5 has-text-centered" th:text="${error_title}">Some
						Errors occur !</h1>
					<p class="has-text-centered" th:text="${error_message}">No
						error message</p><br/>
					<p class="control has-text-centered">
						<a class="bd-tw-button button is-info" th:href="@{${redirect_url != null ? '__${redirect_url}__' : '/'}}"> 
						 <span>Back</span>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>