<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{fragments/layout}">
<head>
<title>Home</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="columns is-centered">
			<div class="column is-6">
				<div class="box">
					<h1 class="title is-5 has-text-centered">Welcome to the
						Api_Builder home page !</h1>
					<div sec:authorize="hasRole('ROLE_ADMIN')">You are actually
						logged as Admin</div>
					<div sec:authorize="isAuthenticated()">LOGGED IN</div>
					<div sec:authorize="isAnonymous()">ANONYMOUS</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>