<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{fragments/layout}">
<head>
<meta charset="ISO-8859-1">
<title>Group Modification</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 class="title is-4 has-text-centered">Group modification</h1>
		<div class="box">
			<div class="columns is-centered">
				<div class="column is-6 is-centered">
					<form name="group_edit" th:action="@{edit?id=__${groupForm.apiGroup.id}__}"
						method="post" th:object="${groupForm}">
						<div class="columns is-centered">
							<div class="column is-4">
								<div class="field ">
									<label class="label">Name</label>
									<div class="control">
										<input type="text" name="name" id="name"
											class="input is-info" th:value=${groupForm.apiGroup.name}
											th:field="*{apiGroup.name}" /> <span
											th:if="${#fields.hasErrors('apiGroup.name')}"
											th:errors="*{apiGroup.name}" style="color: red;"></span>
									</div>
								</div>
								
							</div>
						</div>
					<div class="columns is-centered">
						<div class="column is-centered">
								<h1 class="title is-4 has-text-centered">Edit permissions</h1>
								<table class="table is-fullwidth dataTable">
									<thead>
										<tr>
											<th>Entity</th>
											<th><input type="checkbox" class="chkbx_main_selection" /> Selection</th>
											<th><input type="checkbox" class="chkbx_main_creation" /> Creation</th>
											<th><input type="checkbox" class="chkbx_main_updating" /> Updating</th>
											<th><input type="checkbox" class="chkbx_main_deletion" /> Deletion</th>
										</tr>
									</thead>
									<tbody>
										<tr
											th:each="grouperm,rowStat : *{apiGroupPermWrapper.groupPermList}">
											<td th:text="${grouperm.apiBean.name}"></td>
											<td><input th:disabled="!${grouperm.apiBean.managed}" type="checkbox" class="chkbx_selection"
												th:checked="${grouperm.selection}"
												th:field=*{apiGroupPermWrapper.groupPermList[__${rowStat.index}__].selection} /></td>
											<td><input th:disabled="!${grouperm.apiBean.managed}" type="checkbox" class="chkbx_creation"
												th:checked="${grouperm.creation}"
												th:field=*{apiGroupPermWrapper.groupPermList[__${rowStat.index}__].creation} /></td>
											<td><input th:disabled="!${grouperm.apiBean.managed}" type="checkbox" class="chkbx_updating"
												th:checked="${grouperm.updating}"
												th:field=*{apiGroupPermWrapper.groupPermList[__${rowStat.index}__].updating} /></td>
											<td><input th:disabled="!${grouperm.apiBean.managed}" type="checkbox" class="chkbx_deletion"
												th:checked="${grouperm.deletion}"
												th:field=*{apiGroupPermWrapper.groupPermList[__${rowStat.index}__].deletion} /></td>

										</tr>
									</tbody>
								</table>
								<div class="field is-grouped">
									<div class="control">
										<input class="button is-link" type="submit" value="Submit" />
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>